DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_POOL_MAX=20
HTTP_PORT=3000
SIMULATE_DATA=true
SIMULATOR_CONFIG=simulator-config.json
PGADMIN_EMAIL=admin@water-monitor.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
